<launch>
    <!--voice ctrl-->
    <node pkg="vel_pkg" type="voice_move" name="voice_move" output="screen"/>
    <!-- move ctrl -->
    <node pkg="vel_pkg" type="move_cmd" name="move_cmd" output="screen"/>
    <node pkg="vel_pkg" type="move_vel" name="move_vel" output="screen"/>
    <!-- key ctrl -->
    <node pkg="vel_pkg" type="key_move" name="key_move" output="screen"/>
    <!-- barrier_detection -->
    <node pkg="vel_pkg" type="barrier_detection" name="barrier_detection" output="screen"/>
    <!-- interface_move -->
    <node pkg="vel_pkg" type="interface_move" name="interface_move" output="screen"/>
    <!-- map manager -->
    <node pkg="map_manager" type="map_manager" name="map_manager" output="screen"/>

    <!-- master -->
    <node pkg="masterctrl" type="wpr_master_ctrl" name="wpr_master_ctrl" output="screen"/>
</launch>
